<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unifi Firewall Dashboard</title>
    <script type="module" crossorigin src="/static/assets/index-vNrOAsTR.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-8KBxqPAZ.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.dashboardData = {{ data | tojson | safe }};
    </script>
  </body>
</html>